<h1> Håll upp ditt lånekort för läsaren </h1>



  
<div id = "message_area">
    
  <% if @type == "confirmation" %>
    <div id = confirmation> 
      <p> Ditt besök är nu registrerat </p>
    </div>
  <% elsif @type == "redundant" %>
    <div id = redundant> 
      <p> Du har redan registrerat ditt besök för idag </p>
    </div>
  <% elsif @type == "error" %>
    <div id = error> 
      <p> Ett fel uppstod. Detta lånekort finns inte registerat i systemet </p>
    </div>
  <% elsif @type =="noLockerError" %>
    <div id = error> 
      <p> Ett fel uppstod. Du saknar skåp, vänligen kontakta personalen</p>
    </div>
  <% end %>
    
</div>
  
  
<div id = checkin_form >

  <%= form_tag('/visits', :method => "create") do %>
    <%= text_field_tag :cardnbr, params[:cardnbr], placeholder: "Lånekortsnummer" %>
    <%= submit_tag "Check in" %>

  <% end %>

</div>