// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#index_side{
  float: left;
  width: 30%;
  min-height: 500px;
  
  border-right: 3px solid;
  border-left: 3px solid;
  
  -webkit-border-image: 
    -webkit-linear-gradient(rgba(0,0,0,0), gray, rgba(0,0,0,0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(rgba(0,0,0,0), gray, rgba(0,0,0,0)) 1 100%;    
  -o-border-image:
    -o-linear-gradient(rgba(0,0,0,0), gray, rgba(0,0,0,0)) 1 100%;
  border-image:
    linear-gradient(rgba(0,0,0,0), gray, rgba(0,0,0,0)) 1 100%;

}

#details_side{
  float: right;
  width: 60%;
}