<!DOCTYPE html>
<html>
  <head>
    <title>FsPrototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/jquery.min.js"> </script>
    <script src="/jquery.scrollTo.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
